joblib
torch
scikit-learn==0.21.3
pyyaml
shap
pandas
matplotlib
seaborn
quantstats
pillow>=10.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
